
.head1{
    font-family:ÐÂËÎÌå;
    color:#2b669a;
}
.div1{
    text-align: center;
}
.div3{
    margin:0 auto;
}
.div2{
    margin:0 auto;
    width:400px;
    height:200px;
    padding-top: 60px;
    background: #46b8da;
}

.div0{
    padding-top: 20px;
}


.div_width{
    width:80%;
}
