<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.MS.dao.VisitDataMapper">
  <insert id="addVisitData" parameterType="cn.MS.bean.VisitData">
      insert into visit_data (visit_date,visit_time,address,visit_person,department_name,role_name,count_person,details,user_id) values (#{visitDate},#{visitTime},#{address},#{visitPerson},#{departmentName},#{roleName},#{countPerson},#{details},#{user.id})
  </insert>
  <select id="getVisitDataByVisitPerson" resultMap="vpMap">
  	select *from visit_data where visit_person = #{visitPerson}
  </select>
  <select id="getVisitDataByVisitDate" resultMap="vpMap">
  	select *from visit_data where visit_date = #{date}
  </select>
  <select id="getAllVisitData" resultMap="vpMap">
  	select *from visit_data
  </select>
  <resultMap type="cn.MS.bean.VisitData" id="vpMap">
  	<result property="visitDate" column="visit_date"/>
  	<result property="visitTime" column="visit_time"/>
  	<result property="visitPerson" column="visit_person"/>
  	<result property="departmentName" column="department_name"/>
  	<result property="roleName" column="role_name"/>
  	<result property="countPerson" column="count_person"/>
  </resultMap>
</mapper>